# Import Libraries

In [ ]:
import pandas as pd
from tpot import TPOTRegressor
from sklearn.metrics import mean_squared_error
import warnings
warnings.filterwarnings('ignore')

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

# Data Preparation

In [ ]:
# train
df = pd.read_csv('/content/train.csv').dropna()
df.head()

   gender  age  number_of_kids  day  online_hours
0  FEMALE   49               4    1      2.233333
1  FEMALE   49               4    2      2.516667
2  FEMALE   49               4    5      4.683333
3  FEMALE   49               4    6      3.133333
4  FEMALE   49               4    7      2.650000

In [ ]:
# one-hot encoding
df['gender'] = pd.get_dummies(df['gender'])['FEMALE']
df.head()

   gender  age  number_of_kids  day  online_hours
0       1   49               4    1      2.233333
1       1   49               4    2      2.516667
2       1   49               4    5      4.683333
3       1   49               4    6      3.133333
4       1   49               4    7      2.650000

In [ ]:
# test
df2 = pd.read_csv('/content/test.csv').dropna()
df2.head()

  gender  age  number_of_kids  day  online_hours
0   MALE   26               2   28             7
1   MALE   26               2   27             9
2   MALE   26               2   26             9
3   MALE   26               2   25            10
4   MALE   26               2   24             9

In [ ]:
# one-hot encoding
df2['gender'] = pd.get_dummies(df2['gender'])['FEMALE']
df2.head()

   gender  age  number_of_kids  day  online_hours
0       0   26               2   28             7
1       0   26               2   27             9
2       0   26               2   26             9
3       0   26               2   25            10
4       0   26               2   24             9

# Train-test split

In [ ]:
X_train = df.iloc[:,:-1]
y_train = df.iloc[:,-1]

X_test = df2.iloc[:,:-1]
y_test = df2.iloc[:,-1]

# Training

In [ ]:
# https://github.com/EpistasisLab/tpot/blob/master/tpot/config/regressor.py
model = TPOTRegressor(generations= 5, 
                       population_size= 50,
                       verbosity= 2)

model.fit(X_train,y_train)

HBox(children=(FloatProgress(value=0.0, description='Optimization Progress', max=300.0, style=ProgressStyle(de…

Generation 1 - Current best internal CV score: -6.305260090213368

Generation 2 - Current best internal CV score: -6.2211952749185

Generation 3 - Current best internal CV score: -6.2211952749185

Generation 4 - Current best internal CV score: -6.2211952749185

Generation 5 - Current best internal CV score: -6.2211952749185

Best pipeline: XGBRegressor(input_matrix, learning_rate=0.1, max_depth=2, min_child_weight=19, n_estimators=100, n_jobs=1, objective=reg:squarederror, subsample=0.7000000000000001, verbosity=0)

TPOTRegressor(config_dict=None, crossover_rate=0.1, cv=5,
              disable_update_check=False, early_stop=None, generations=5,
              log_file=None, max_eval_time_mins=5, max_time_mins=None,
              memory=None, mutation_rate=0.9, n_jobs=1, offspring_size=None,
              periodic_checkpoint_folder=None, population_size=50,
              random_state=None, scoring=None, subsample=1.0, template=None,
              use_dask=False, verbosity=2, warm_start=False)

# Testing

In [ ]:
y_pred = model.predict(X_test)
mean_squared_error(y_test,y_pred, squared=False)

4.819974222255635